@font-face {
    font-family: 'QuicksandRegular';
    src: url('assets/quicksand-regular.eot');
    src: url('assets/quicksand-regular.eot?#iefix') format('embedded-opentype'),
         url('assets/quicksand-regular.woff') format('woff'),
         url('assets/quicksand-regular.ttf') format('truetype'),
         url('assets/quicksand-regular.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* mouseover animation for calendar boxes */
@-webkit-keyframes cs-cal-mouseover {
    from { opacity: 1.0; } 
    to { opacity: 0.7; }
}

@keyframes cs-cal-mouseover {
    from { background: blue; opacity: 1.0; } 
    to { background: blue; opacity: 0.7; }
}

#cs-calendarTable tr td {
	border:1px solid black;
}
#cs-calendarTable {
	border-collapse:collapse;

	font-size:10px;
	font-family: QuicksandRegular;
	text-align:center;
}

#classEntry {
	padding: 20px;
}

.cs-timeCol, .cs-headerRow {
	font-size:12px;
	color: #404077;
	background-color: #E1E8EF;
}

.cs-calElem {
	color: #ffffff;
	border:0px; 
	position: absolute;
}

.cs-classbox {
	background-color: #6B71B2;
}
.cs-classbox-selected {
	background-color: #6B71B2;
	opacity: 0.5;
}

.cs-classbox:hover {
	background-color: #6B71B2;
	animation: cs-cal-mouseover 1s forwards;
	-webkit-animation: cs-cal-mouseover 1s forwards; /* Safari and Chrome */
}

.cs-sectionbox {
	background-color: #68C4ED;
}
.cs-sectionbox-selected {
	background-color: #68C4ED;
	opacity:0.5;
}

.cs-sectionbox:hover {
	/*background-color: #68C4ED;*/
	animation: cs-cal-mouseover 1s forwards;
	-webkit-animation: cs-cal-mouseover 1s forwards; /* Safari and Chrome */
}